<div class="container">
  <div class="block">
    <div class="block_2">
      <div class="block_5">
        <div style="display: inline-block;">
          <img src="/assets/img/Mark.png" alt="">
        </div>
        <div style="display: inline-block;">
          <h1>Вход в личный кабинет</h1>
        </div>
      </div>
      <div>
        <input placeholder=" Логин" [(ngModel)]="login" type="text">
      </div>
      <div>
        <input placeholder="Пароль" [(ngModel)]="password" type="text">
      </div>
    </div>
    <button class="btna" (click)="toComeIn()">Войти</button>
  </div>
</div>