<div class="container">

  <div class="logo">
    <img src="/assets/img/Mark.png" alt="">
  </div>

  <div class="text_logo">
    Tech
  </div>

  <nav class="header_menu">
    <ul class="menu_list">
      <li class="munu_item">
        <a routerLink="/" class="menu_link">Главная</a>
      </li>
      <li class="munu_item">
        <a routerLink="/catalog" class="menu_link">Каталог товаров</a>
      </li>
    </ul>
  </nav>
  <div class="block_2">
    <div *ngIf="baseService.role" class="admin">
      <a routerLink="/profile">
        <p>{{baseService.name}}</p>
        <div style="font-size: 12px;" *ngIf="baseService.role=='admin'">Администратор</div>
        <div style="font-size: 12px;" *ngIf="baseService.role=='user'">Покупатель</div>
      </a>
      <div><button routerLink="/admin" class="btn btn-4" *ngIf="baseService.role=='admin'">Администрирование</button>
      </div>
      <div>
        <button class="btn btn-success btn-3" (click)="goOut()">Выйти</button>
      </div>
    </div>

    <button *ngIf="!baseService.role" routerLink="/auth" class="btn btn-primary">
      Войти
    </button>
  </div>
</div>