<div class="container">
  <div class="text">
    Администрирование
  </div>
  <a routerLink="/admin/items">
    <div class="block">
      <img class="img1" src="/assets/img/Icon.png" alt="">
      <img class="img2" src="/assets/img/Icon2.png" alt="">
      <div class="texts">
        <div class="text1">
          Товары
        </div>
        <div class="text2">
          Редактирование товаров
        </div>
      </div>
    </div>
  </a>
  <div class="block">
    <img class="img1" src="/assets/img/Icon.png" alt="">
    <img class="img2" src="/assets/img/Icon2.png" alt="">
    <div class="texts">
      <div class="text1">
        Товары
      </div>
      <div class="text2">
        Редактирование товаров
      </div>
    </div>
  </div>
</div>