.conteiner {
  min-height: auto;
}

.block {
  position: relative;
  top: 187px;
  left: 20px;
  width: 583px;
  height: 184px;
  // background-color: wheat;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  display: inline-block;

  .img1 {
    margin: 15px;
  }

  .img2 {
    position: relative;
    margin: 15px;
    left: 480px;
  }

  .texts {
    margin-top: 47px;
    margin-left: 24px;
    padding: 8px;

    .text1 {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #111827;
    }

    .text2 {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #6B7280;

    }

  }
}

.text {
  margin-top: 46px;
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;


  color: #000000;
}

@media screen and (max-width: 1399px) {
  .block {
    left: 25%;
  }
}