<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col-2 ml-auto mr-3" style="height: auto; width: 15rem;">
      <h5>Числа по порядку</h5>
      <button class="btn btn-danger  my-2" (click)="unsubscribeNumbers()">Остановить</button>
      <p class="mx-2" *ngFor="let number of intervalService.numbersArr">{{number}}</p>
    </div>
    <div class="col-2 mr-auto ml-3" style="height: auto; width: 15rem;">
      <h5>Случайные числа</h5>
      <button class="btn btn-danger  my-2" (click)="unsubscribeRandomNumbers()">Остановить</button>
      <p class="mx-2" *ngFor="let number of intervalService.randomNumbersArr">{{number}}</p>
    </div>
  </div>
</div>