<div class="container-fluid">
  <div class="row row-cols-3 g-2 m-1" style="width: 300px;">
    <div class="col">
      <button (click)="getPosts()" class="btn btn-primary">Запрос 1</button>
    </div>
    <div class="col ">
      <button (click)="getComments()" class="btn btn-secondary">Запрос 2</button>
    </div>
    <div class="col">
      <button (click)="postEmpty()" class="btn btn-success">Запрос 3</button>
    </div>
    <div class="col">
      <button (click)="checkError()" class="btn btn-danger">Запрос 4</button>
    </div>
    <div class="col">
      <button (click)="checkHeaders()" class="btn btn-warning">Запрос 5</button>
    </div>
    <div class="col">
      <button (click)="checkDelete()" class="btn btn-info">Запрос 6</button>
    </div>
  </div>
  <button class="btn btn-dark g-2 m-1" style="width: 300px;" routerLink="/checkresolve">Второй компонент</button>
</div>


<router-outlet></router-outlet>