<div class="container-sm">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Главная</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="posts">Страница постов</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <button [ngClass]="{active: dataService.role === 'admin' }" (click)="dataService.role = 'admin'"
    class="btn">Админ</button>

  <button [ngClass]="{active: dataService.role === 'user' }" (click)="dataService.role = 'user'" class="btn">Обычный
    пользователь</button>
  <span class="btn disabled ">Текущая роль: {{dataService.role}}</span>
</div>

<router-outlet></router-outlet>