* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Inter;
  text-decoration: none;
}

li {
  list-style-type: none;
}


.container {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 20;
  display: flex;
  min-height: 64px;
  align-items: center;
  white-space: nowrap;
}