<div class="container-sm">
  <div class="row align-items-start">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Пост 22</h5>
        <p class="card-text">dolor sint quo a velit explicabo quia nam</p>
        <a routerLink="/posts/22" class="card-link">Перейти на пост</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Пост 46</h5>
        <p class="card-text">aut quo modi neque nostrum ducimus</p>
        <a routerLink="/posts/46" class="card-link">Перейти на пост</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>